.user-avatar {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2%;
  }